.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: auto;
  font-size: 1.4rem;
  width: 100%;
  transform: translateY(-1rem);
  border-top: 1px solid rgba(10, 10, 10, 0.05);
  background-color: rgba(10, 10, 10, 0.05);

  & > * {
    margin-top: 0;
  }
}
